body{
    margin: 0;
}
.container div,.container h2{
    display: flex;
    justify-content: center;
}
.container{
    width: 300px;
    height: 500px;
    margin: 200px auto;
    border: 1px solid black;
    background:black;
    color:bisque;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}
.inputbox{
    margin: 30px; 
}
input{
    padding: 10px;
    background: bisque;
    border-radius: 10px;
}
button{
    background: bisque;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

